	
	.subtitulo h1{
	
    font-family: 'Poppins', sans-serif; /* Troque por qualquer uma das fontes sugeridas */
  font-weight: 600;
  font-style: normal;
  font-size:4rem;
  padding:20px;
}

.subtitulo p {

  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding:16px;
  maring-top:50px;

}
   #text{
			
	opacity:0;
	transition:opacity 0.5s ease;
		   
  }
  
  .nav1,.nav2 {
			    font-family: "Alata", sans-serif;

  }

  //h1 
    
         .subtitulo h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 4rem;
            padding: 20px;
            position: relative;
            overflow: hidden; /* Importante para o efeito de animação */
        }

        #texth1 {
            -webkit-text-stroke: 1px #ff386e;
            text-transform: uppercase;
            color: transparent; /* Para o texto ser transparente, use esta propriedade */
			 font-size: 3rem; /* Tente um tamanho menor */
			     white-space: nowrap; /* Impede a quebra de linha */
			 
        }

        #texth1:before {
            content: attr(data-text);
            position: absolute;
            top:20px;
            width: 0; /* Começa com 0 */
            height:50%;
            color: #ff386e;
            -webkit-text-stroke: 0px ;
            border-right: 1px solid #ff386e;
            overflow: hidden;
			
            animation: animate 6s linear infinite;
        }

        @keyframes animate {
            0% {
                width: 0; /* Começa e termina com 0 */
            }
			
			100%{
			
					width :90%;
			}
        }