@import "cores.scss";

@import "btn.scss";
@import "sec.scss";
@import "ul,li,nav.scss"  ;
@import "fonts.scss" ;
@import "foto.scss";
@import "logo.scss";


*{
 margin:0px;
 padding:0px;

}
body {
  background: $primary;
}







